@page "/movies/details"
@using Microsoft.EntityFrameworkCore
@using BlazorWebAppMovies1.Models
@inject IDbContextFactory<BlazorWebAppMovies1.Data.BlazorWebAppMovies1Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Movies</h2>
    <hr />
    @if (movies is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@movies.Title</dd>
            <dt class="col-sm-2">ReleaseDate</dt>
            <dd class="col-sm-10">@movies.ReleaseDate</dd>
            <dt class="col-sm-2">GenreId</dt>
            <dd class="col-sm-10">@genre.Name</dd>
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@movies.Price</dd>
        </dl>
        <div>
            <a href="@($"/movies/edit?id={movies.Id}")">Edit</a> |
            <a href="@($"/movies")">Back to List</a>
        </div>
    }
</div>


